<footer>
    <p>&copy Copyright 2021 Link List</p>
    <p>
        This product uses LinkPreview API available from <span><a href="https://www.linkpreview.net">https://www.linkpreview.net</a></span>.
    </p>
    <p><a href="https://icons8.com/icon/jucJWlfOLxsW/bookmark">Bookmark icon by Icons8</a></p>
</footer>