<footer>
    <p>&copy Copyright 2021 Link List</p>
    <p>
        This product uses LinkPreview API available from <span><a href="https://www.linkpreview.net">https://www.linkpreview.net</a></span>.
    </p>
</footer>