<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head"); %> 
</head>
<body>
    <%- include("./partials/header"); %> 
    <main class="container">
        <form class="row row-cols-1 row-cols-md-2" id="add-form" action="/" method="POST">
            <div class="col mb-3">
                <label class="form-label">Link Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="col mb-3">
                <label class="form-label">Link URL</label>
                <input type="text" class="form-control" name="url">
            </div>
            <div class="col mb-3">
                <label class="form-label">Website</label>
                <input type="text" class="form-control" name="website">
            </div>
            <div class="col mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" name="description">
            </div>
            <div class="col mb-3">
                <label class="form-label">Enter tags here</label>
                <input type="hidden" class="form-control" id="tags-hidden" value="" name="tags">
                <input type="text" class="form-control" id="tags-input">
                <button class="btn btn-success" id="tag-btn">Add Tag</button>
            </div>
            <div class="col mb-3 add-edit-btn d-grid mx-auto justify-content-md-end">
                <input class="btn btn-primary" type="submit" name="" value="Add Link">
            </div>
            <div class="col mb-3">
                <label class="form-label">Private</label>
                <input type="checkbox" class="" name="private" checked>
            </div>
        </form>
        <div id="tags-display">
        </div>

    </main>
    <%- include("./partials/footer") %> 
    
</body>
</html>